@media (max-width: 500px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 10px;
    }
    .box1 {
        background-color: blueviolet;
        grid-column: 1 / 2;
    }
    .box2 {
        background-color: blueviolet;
        grid-column: 2 / 3;
    }
    .box3 {
        background-color: blueviolet;
        grid-column: 1 / 2;
        grid-row: 2 /2;
    }
    .box4 {
        background-color: blueviolet;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }
    .ruta1 {
        background-color: pink;
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    .ruta2 {
        background-color: pink;
        grid-column: 1 / 3;
        grid-row: 5 / 7;
    }
    .ruta3 {
        background-color: pink;
        grid-column: 1 / 3;
        grid-row: 7 / 9;
    }
    footer {
        background-color: rgb(189, 184, 113);
        grid-column: 1 / 3;
        grid-row: 9;
    }
}